#just_played {
  width: 100%;
}

#top_artists {
  width: 40%;
  float: left;
  margin-left: 5%;
}

#top_songs {
  width: 50%;
  float: right;
  margin-right: 5%;
}

#top_songs .label {
  text-align: left;
}

/*
#top_artists, #top_songs {
  width: 60%;
  margin: auto;
}
*/

th {
  border: 1px solid black;
}

td {
  text-align: center;
}
