#just_played {
  width: 100%;
}

.table_left {
  display: inline-table;
  width: 50%;
}

.table_right {
  display: inline-table;
  width: 50%;
}

.table_right .label {
  text-align: left;
}

th {
  border: 1px solid black;
}

td {
  text-align: center;
}
